<% layout('layouts/boilerplate') %>
    <h1>Edit Expense</h1>
    <form action="/user/<%= currentUser._id %>/<%= expense._id %>/editExpense?_method=PUT" method="POST" class="mb-5 validated-form" novalidate>
        <div class='mb-3'>
            <label class='form-label' for="amount">Amount</label>
            <div class='input-group'>
                <span class='input-group-text'>$</span>
                <input class='form-control' type="text" id="amount" placeholder='0.00' name="expense[amount]" value="<%= expense.amount %>" required>
            </div>
        </div>
        <label class='form-label' for="category">Category</label>
        <select class="form-select mb-3" aria-label="Default select example" name="expense[category]" id="category" value="<%= expense.category %>">
            <option <%= expense.category === 'Food' ? 'selected': "" %> value="Food">Food</option>
            <option <%= expense.category === 'Transportation' ? 'selected': "" %> value="Transportation">Transportation</option>
            <option <%= expense.category === 'Bills' ? 'selected': "" %> value="Bills">Bills</option>
            <option <%= expense.category === 'Shopping' ? 'selected': "" %> value="Shopping">Shopping</option>
            <option <%= expense.category === 'Investnent' ? 'selected': "" %> value="Investment">Investment</option>
            <option <%= expense.category === 'Cloths' ? 'selected': "" %> value="Cloths">Cloths</option>
            <option <%= expense.category === 'Others' ? 'selected': "" %> value="Others">Others</option>
        </select>
        <div class="mb-3">
            <label for="description" class="form-label">Note</label>
            <textarea type="text" class="form-control" id="description" name="expense[description]"><%= expense.description %></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Confirm</button>
    </form>